@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.home-img {
  background: url(images/bg.jpg);
  min-height: 100vh;
  background-size: 75vh;
  background-position: 100%;
  background-attachment: fixed;
}

.wrapper {
  padding: 20px 50px;
}

.wrapper .title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.wrapper p {
  text-align: center;
  padding-bottom: 20px;
}

.counter-up {
  background: url(images/bg.jpg);
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-size: 75vh;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
}

.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.counter-up .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.content .box {
  width: calc(25% - 30px);
  border: 1px dashed rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 5px;
}

.content .box .icon {
  font-size: 48px;
  color: #e6e6e6;
}

.content .box .counter {
  font-size: 50px;
  color: #f2f2f2;
  font-weight: 500;
  font-family: sans-serif;
}

.content .box .text {
  color: #ccc;
  font-weight: 400;
}

@media (max-width: 1036px) {
  .counter-up {
    padding: 50px 50px 0 50px;
  }
  
  .content .box {
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}

@media (max-width: 580px) {
  .content .box {
    width: 100%;
  }
  
  .home-img {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .counter-up {
    background-size: cover;
  }
}
