* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, red, blue);
}

.rating-box {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 25px 50px 35px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.rating-box h1
{
    font-size: 22px;
    color: #a9a9a9;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.rating-box .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.stars i {
    color: #d1d1d1;
    font-size: 36px;
    cursor: pointer;
    transition: color .2s ease;
}

.stars i.active {
    color: #ff9900;
}