body {
    position: relative;
    background: #111;
}

#btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 20px;
    border: 0;
    outline: 0;
    font-family: sans-serif;
    background: #333;
    color: aqua;
    cursor: pointer;
}